header {
  text-align: center;
}

body {
  background-color: white;
  font-family: "Oldenburg", cursive;
  align-content: center;
}

h4 {
  color: black;
}

.card {
  background-color: #ebbf7d;
  width: 500px;
  margin: 20px;
}
.app-container {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 10px 10px 10px 10px;
  max-width: 800px;
  padding: 20px 20px;
  background-color: rgb(207, 194, 194);
  width: 567px;
}
.weather-container {
  padding-top: 0mm;
  padding-right: 20px;
  padding-left: 0px;
  position: relative;
  width: 500px;
  margin-right: 600px;
  max-width: 567px;
}
#weather-conditions {
  float: right;
  width: 50%;
  margin-left: 100px;
  position: relative;
  bottom: 120px;
  right: 1px;
}

#current-temperature {
  display: inline;
}
#icon {
  float: left;
}
#description {
  display: inline;
  position: relative;
}
.row {
  padding: 0px 2px;
}

.card-body {
  padding: 10px;
  margin-left: 40px;
  margin-right: 1px;
}
.col {
  padding: 11px;
}

ul {
  list-style-type: none;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: rgb(186, 186, 186);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.units.active:hover {
  text-decoration: none;
}
button:hover {
  background: rgb(182, 179, 179);
  color: white;
  cursor: pointer;
}
.submit:hover {
  background: rgb(182, 179, 179);
  color: white;
  cursor: pointer;
}

#searchCity:hover {
  background: rgb(182, 179, 179);
  color: white;
  cursor: pointer;
}
.author a {
  color: #636363;
  text-decoration: underline;
  display: inline;
}

.author a:hover {
  color: #000000;
}
.weather-temperature a {
  color: grey;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: underline;
  color: black;
}

#fahrenheit-button .active {
  color: #636363;
  cursor: default;
  text-decoration: none;
}
#fahrenheit-button .active:hover {
  text-decoration: underline;
  color: black;
}

#search-form {
  width: max-content;
  margin-left: 100px;
}
.forecast {
  padding: 10px;
  margin: 15px auto;
  max-width: 567px;
  border-radius: 10px;
}
.weatherForecast {
  font-size: 12px;
}
#weekDay {
  font-size: 15px;
  text-align: center;
}
.maxTemp {
  color: black;
}
.minTemp {
  color: #636363;
}
ul {
  list-style-type: none;
}
li {
  list-style: none;
  font-size: 15px;
  text-align: center;
}
