header {
  text-align: center;
}

body {
  background-color: white;
  font-family: "Oldenburg", cursive;
}

body {
  background-color: white;
  font-family: "Oldenburg", cursive;
}

h4 {
  color: black;
}

.card {
  background-color: #ebbf7d;
}
.app-container {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 20px 150px 150px 150px;
  max-width: 800px;
  padding: 20px 20px;
  background-color: rgb(207, 194, 194);
  max-width: 567px;
}
#weather-conditions {
  float: right;
  width: 50%;
  margin-left: 100px;
  position: relative;
  bottom: 120px;
  right: 1px;
}

#current-temperature {
  display: inline;
}
#icon {
  float: left;
}
#description {
  display: inline;
  position: relative;
}
.row {
  padding: 0px 2px;
}

.card-body {
  padding: 10px;
  margin-left: 40px;
  margin-right: 1px;
}
.col {
  padding: 11px;
}

ul {
  list-style-type: none;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: rgb(186, 186, 186);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}
.active {
  color: black;
  cursor: default;
}
button:hover {
  background: rgb(182, 179, 179);
  color: white;
  cursor: pointer;
}
.submit:hover {
  background: rgb(182, 179, 179);
  color: white;
  cursor: pointer;
}

#searchCity:hover {
  background: rgb(182, 179, 179);
  color: white;
  cursor: pointer;
}
.author a {
  color: #636363;
  text-decoration: underline;
}

.author a:hover {
  color: #000000;
}
#celsius-button {
  color: #636363;
  text-decoration: underline;
}
#fahrenheit-button {
  color: #636363;
  text-decoration: underline;
}
#celsius-button:hover {
  color: #000000;
}
#fahrenheit-button:hover {
  color: #000000;
}
